.form-label {
    display: block;
    margin-bottom: 5px;
  }
  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-input-date {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-input-description {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    height: 100px;
  }
  .form-button {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form-button:hover {
    background-color: white;
    border: 2px solid red;
    color:red;
  }
  .form-button.active{
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form-button.disable{
    background-color: grey;
    color:rgb(255, 255, 255);
    cursor: not-allowed;
  }
  .form-button:disabled:hover {
    border: none;
}
  .form-error{
    color:red
  }
  .form-container {
    width: 100%;
    max-width: 30%; /* Esto limitará el ancho del formulario al 2/3 del ancho total de la página */
    margin: 30px auto; /* Esto centrará el formulario en la página */
  }
  .form-chosen-teams{
    background-color: black;
    color: white;
    border: 1px solid black;
    margin: 0 5px;
    padding: 5px;
  }
  .form-sendForm{
    color:green;
  }