.pagination{
      flex-wrap: wrap; /* Esto permite que los elementos se muevan a una segunda línea si no caben en la primera */
      margin: 20px;
      justify-content: flex-start; /* Alinea los botones al principio de la línea principal (horizontalmente) */
      text-align: center;
    }
    .pagination-button {
        padding: 10px 15px;
        margin: 0 5px;
        border: none;
        background-color: #f8f9fa;
        color: red;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .pagination-button:hover {
        background-color: red;
        color: #fff;
    }
    
    .pagination-button.active {
        background-color: red;
        color: #fff;
    }
    
    .pagination-button.disabled {
        color: #fff;
        background-color:rgb(33, 32, 32) ;
        cursor: not-allowed;
    }

    
